*{
    box-sizing: border-box;
    line-height: 0;
    
}

body{
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    margin: 0;

}

h1{
    text-align: center;
}

#container, #controls{
    justify-self: center;
    align-self: center;
    border: 5px solid black;
    width: 810px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    height: 810px;
    background-color: white;
}

#controls{
    border-top: 0;
    height: 50px;
    padding: 10px;
}

button{
    padding: 10px;
}


.sketched{
    background-color: black;
}