*{
    box-sizing: border-box;
    line-height: 0;
}

#container{
    gap: 0;
    justify-self: center;
    align-self: center;
    height: 800px;
    width: 800px;
}

.sketched{
    background-color: black;
}